.main_hotel{
    width: 100%;
    margin: 0;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.display_header{
    display: flex;
    width: 100%;
    margin-top: 20px;
}
.header_hotel{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.header_hotels{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-left: -170px;
    margin-bottom: 20px;
    color: black;
}
.styled_components{
    display: flex;
    align-items: center;
    margin-left: -345px;
    margin-bottom: 20px;
    

}
.excellent{
    color: rgb(82, 82, 221);
    font-size: 20px;
    font-weight: 500;
    margin-left: -125px;

}
.excellents{
    font-size: 20px;
    font-weight: 500;
    margin-top: 17px;
    margin-left: 105px;
    margin-bottom: 20px;
    color: rgb(35, 95, 35);
}
.buttonss{
    margin-left: 690px;
    margin-top: 12px;

}
.buttonss>button{
    width: 230px;
    height: 50px;
    border: 0;
    outline: 0;
    border-radius: 3px;
    letter-spacing: 1px;
    background-color: #003580;
    color: #fff;
    font-size: 18px;
    padding: 15px;
    cursor: pointer;
}
.buttonss>button:active{
    background-color: #6890c9;
    transform: 0.2s ease
}
.hotel_Image{
    width: 40%;
    height: 50%;
    display: flex;
}
.hotelWrapper{
    margin: 20px 90px;
    align-items: center;
    flex-wrap: wrap;
    display: flex;

}
.hotelWrappers{
    display: flex;
    width: 50%;
}
.hotts{
    background-size: contain;
    margin: 15px 10px;
    width: 100px;
    height: 100px;
}
.header_footer{
    display: grid;
}
.header_footers>h1{
    font-size: 29px;
    font-weight: 600;
    letter-spacing: 0.7px;
    color: black;
    margin: 20px 35px;
    margin-bottom: 30px;
}
.header_footers > p{
    font-size: 17px;
    letter-spacing: 0.5px;
    font-weight: 450;
    align-items: center;
    color: black;
    font-family:  sans-serif;
    margin: 10px 35px;
    line-height: 30px;
}
.right_button{
    margin-left: 1230px;
    margin-top: -290px;
    background-color: rgba(133, 97, 231, 0.15);
    width: 340px;
    height: 320px;
    margin-bottom: 25px;
    padding: 10px 20px;
}
.right_button>h2{
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0.9px;
    color: black;
    margin-bottom: 15px;
}
.right_button>p{
    font-size: 18px;
    letter-spacing: 0.5px;
    font-weight: 450;
    align-items: center;
    margin-bottom: 15px;
    color: black;
    font-family:  sans-serif;
}
.right_button>b{
    font-size: 30px;
    color: rgb(58, 189, 58);
    font-weight: 600;
    margin-top: 15px;

}
.right_button>b>span{
    font-size: 20px;
    font-weight: 500;
    color: black;
    letter-spacing: 1px;
    margin-top: 15px;
}
.right_button > button{
    width: 335px;
    height: 50px;
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: rgb(80, 80, 197);
    color: #fff;
    letter-spacing: 1px;
    font-size: 20px;
    padding: 10px 15px;
    margin: 50px 0px;
    font-weight: 600;
}
.right_button > button:active{
    background-color: #6890c9;
}
.slider{
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    z-index: 99;
    align-items: center;

}
.sliderWrapper{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.426);
    text-align: center;
    justify-content: center;
    align-items: center;
}
.sliderImg{
    width: 1700px;
    height: 600px;
    object-fit: cover;
    background-size: cover;
}
.close{
    position: absolute;
    top: 80px;
    right: 30px;
    color: red;
    cursor: pointer;
    font-size: 40px;
}
.arrow{
    font-size: 30px;
    cursor: pointer;
    color: red;

}
.arrows{
    font-size: 30px;
    cursor: pointer;
    margin-right: 9200px;
    z-index: 788;
    color: red;
}